#intro {
  background: url("../img/panorama-3094696_1920.jpg") no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #3949ab !important;
}

.navbar-brand img
{
  width: 110px;
}
.navbar-brand img:hover
{
  width: 150px;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}



 /*Logo Animation*/

@import "https://fonts.googleapis.com/css?family=Oswald:400,700";
.ribbon {

  position: absolute;
  top: 0;
  left: 0;
  margin-left: 500px;
  margin-bottom: 200px;
  right: 0;
}
.ribbon [class*="ribbon-"] {
  margin: 74px auto 0;
  transform-origin: 50% 50%;
  transform: rotate(-8.5deg);
  position: relative;
  z-index: 4;
  width: 287px;
  height: 56px;
}
.ribbon [class*="ribbon-"] .inner {
  background: #003468;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 0;
  height: 100%;
  padding: 11px 0;
  font-size: 1.5em;
  text-shadow: 3px 3px 1px #001b47;
  position: relative;
  z-index: 2;
  transform: skewX(-9deg);
  transition: width 0.12s ease-in-out;
}
.ribbon [class*="ribbon-"]:before {
  content: '';
  transform-origin: 0 0;
  transform: rotate(-17.25deg) skewX(-9deg) translateX(158px);
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 4px;
  background: #001b47;
  z-index: -1;
  transition: all 0.12s ease-in-out 0.7s;
}
.ribbon .ribbon-1 .inner {
  letter-spacing: 19px;
  font-weight: 700;
}
.ribbon.active .inner {
  width: 100%;
}
.ribbon.active .ribbon-1 .inner {
  transition-delay: 0.82s;
}
.ribbon.active .ribbon-1:before {
  width: 158px;
  transform: rotate(-17.25deg) skewX(-9deg) translateX(0);
}
.ribbon .ribbon-2 {
  z-index: 3;
  font-size: 45px;
  width: 451px;
  height: 137px;
  margin-top: 22px;
}
.ribbon .ribbon-2 .inner {
  padding: 19px 0;
}
.ribbon .ribbon-2 .inner:before, .ribbon .ribbon-2 .inner:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  background: url('dia.png') center bottom no-repeat;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 1.86s;
}
.ribbon .ribbon-2 .inner:before {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}
.ribbon .ribbon-2:before {
  width: 0;
  left: 11px;
  transform: rotate(-10.25deg) skewX(-9deg) translateX(451px);
  height: 47px;
  transition-delay: 0.94s;
}
.ribbon.active .ribbon-2 .inner {
  transition-delay: 1.06s;
}
.ribbon.active .ribbon-2 .inner:before, .ribbon.active .ribbon-2 .inner:after {
  opacity: 1;
}
.ribbon.active .ribbon-2:before {
  width: 376px;
  transform: rotate(-10.25deg) skewX(-9deg) translateX(0);
}
.ribbon .ribbon-3 {
  z-index: 2;
  font-size: 9px;
  width: 326px;
  height: 55px;
  margin-top: 24px;
}
.ribbon .ribbon-3 .inner {
  color: #e8a713;
  padding: 19px 0;
}
.ribbon .ribbon-3:before {
  width: 0;
  height: 47px;
  left: 11px;
  transform: rotate(-10.25deg) skewX(-9deg) translateX(387px);
  transition-delay: 1.18s;
}
.ribbon .ribbon-3:after {
  content: '';
  transform-origin: 100% 100%;
  transform: rotate(-15.3deg) skewX(9deg) translateX(72px);
  display: block;
  width: 0;
  height: 45px;
  position: absolute;
  bottom: 0;
  right: 4px;
  background: #001b47;
  z-index: -1;
  transition-delay: 1.42s;
}
.ribbon.active .ribbon-3 .inner {
  transition-delay: 1.3s;
}
.ribbon.active .ribbon-3:before {
  width: 387px;
  transform: rotate(-10.25deg) skewX(-9deg) translateX(0);
}
.ribbon.active .ribbon-3:after {
  width: 56px;
  transform: rotate(-15.3deg) skewX(9deg) translateX(0);
}
.ribbon .ball {
  width: 190px;
  height: 190px;
   
  border-radius: 95px;
  padding: 85px 20px 0;
  text-align: center;
  color: #001b47;
  border: 10px solid #001b47;
  margin: -87px auto 0;
  position: relative;
  left: 18px;
  z-index: 1;
  transform-origin: 50% 50%;
  transform: rotate(-8.5deg);
}
.ribbon .ball .ball-text {
  font-size: 12px;
  line-height: 1.2;
  text-align: right;
  display: block;
  width: 119px;
}
.ribbon .ball .ball-text strong {
  font-size: 39px;
  font-style: italic;
  display: block;
  margin: 0 auto;
}
.ribbon .fadeLeft {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out 1.56s;
  display: block;
}
.ribbon .fadeRight {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out 1.56s;
  display: block;
}
.ribbon .fadeIn {
  opacity: 0;
  transition: all 0.3s ease-in-out 1.42s;
  display: block;
}
.ribbon.active .fadeLeft, .ribbon.active .fadeRight {
  opacity: 1;
  transform: translateX(0);
}
.ribbon.active .fadeIn {
  opacity: 1;
}
