#intro {
  background: url("../img/panorama-3094696_1920.jpg") no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #3949ab !important;
}

.navbar-brand img
{
  width: 110px;
}
.navbar-brand img:hover
{
  width: 150px;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing .lead {
  opacity: 0.7;
}

#pricing .card-image {
  background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
  font-size: 1.1em;
}



/* #3d Flip Rotate Logo  */
.boxLogo
    {  
      top: calc(50% - 200px);
      left: calc(50% - 150px);
      width: 70px;
      height: 70px;
      /*background-color: #000; */  /*remove it to delte the extra black centered layer*/ 
      transform-style: preserve-3d;
      transition: 2s;
      transform: perspective(500px) rotateY(0deg);
    }
    .boxLogo:hover
    {
      transform: perspective(500px) rotateY(180deg);
    }
    .boxLogo::before
    {
      content: linear-gradient( to left, blue,black);    /*if image not black add  croped of specific part image and insted with url*/
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;  /*sum of both front and back translateZ() values*/
      height: 100%;
      background: #000;
      transform: rotateY(-90deg) translateX(-25px);
      transform-origin: left; 
    }
    .boxLogo .frontLogo
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/BinaryCase7.png");
      background-size: 100%; /* to display image all in the specific width of an element like div etc */
      transform:  translateZ(25px);  /* move image in Z direction or front */
    }
    .boxLogo .backLogo
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../img/BinaryCase5.png");
      background-size: 100%; /* to display image all in the specific width of an element like div etc */
      transform:  translateZ(-25px) rotateY(180deg);;
    }

/* ---------------------------------------------------------------------- */
